@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
.v-layout-pan1 {
	background-color: #00A65A;
	}	
.v-button-btnDash {
	background-color:#ffffff;
	background-size:255 157;
	 background-radius: 10;
	background-repeat:stretch ;
	background-position:center center;
}
}
